html, body {
    color: #ffffff; 
    background-color: #353e48; 
    font-family: sans-serif; 
    height: 100%;
    width: 100%; 
    margin: 0;
    padding: 0;
}

.main-strip {
    display: flex; 
    flex-direction: column; 
    height: auto; 
    width: 100%; 
}

.top {
    display: flex; 
    justify-content: center;
    align-items: center; 
    height: 80px;
    width: 100%; 
}

.top h1 {
    color: white; 
    font-size: 30px; 
    font-weight: bold; 
}

.main {
    display: flex; 
    flex-direction: row; 
    height: 500px;
    width: 100%; 
    border-top: 1px solid rgba(255,255,255,0.12); 
}

.left {
    height: auto; 
    width: 15%; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

#map {
    height: auto;
    width: 70%; 
}

.right {
    height: auto; 
    width: 15%; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    flex-direction: column; 

}

.url-links {
    display: flex; 
    justify-content: center;
    align-items: center; 
    height: 100px;
    width: 100%;  
    font-size: 70px; 
    font-weight: bold; 
}

.url-links:hover {
    color: #00a2c7; 
    transform: scale(1.1); 
    transition: 0.5s;
}

.url-links i {
    margin-bottom: 30px; 
    cursor: pointer; 
}