html, body {
    color: #bbb; 
    font-family: 'Kanit', sans-serif;
    background-color: #353e48; 
    height: 100%;
    width: 100%; 
    margin: 0;
    padding: 0;
}

.main-strip {
    display: flex; 
    flex-direction: column; 
    height: 100%; 
    width: 100%; 
}

.top {
    background-color: #353e48; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    min-height: 80px;
    width: 100%; 
}

.top h1 {
    color: #ccc; 
    font-size: 48px; 
    font-weight: bold; 
}

.main {
    display: flex; 
    flex-direction: row; 
    height: 100%;
    width: 100%; 
    border-top: 1px solid black; 
}
 
.left {
    background-color: #bbb; 
    min-width: 100px;
    max-width: 120px;
    width: 15%; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

#map {
    height: auto;
    width: 100%; 
}

.dropdown-buttons {
    position: absolute;
    display: flex; 
    flex-direction: row; 
    left: 20%; 
    top: 15%; 
    text-align: center; 
}

.date-dropdown {
    margin-right: 20px; 
}

.date-dropdown:hover .date-dropdown-content { display: block; }

.date-dropdown-button {
    min-width: 90px; 
    border: none;
    background-color: #4CAF50;
    padding: 10px;
    color: white;
    font-size: 16px;
}

.date-dropdown-button:hover { background-color: #3e8e41; }

.date-dropdown-content {
    display: none;
    background-color: #f1f1f1;
    width: 100%;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    /* z-index: 1; */
}

.date-dropdown-content button {
    color: black;
    min-width: 90px; 
    padding: 10px;
    display: block;
}

.date-dropdown-content button:hover { background-color: #ddd; }

.timestamp-dropdown {
    margin-right: 20px; 
}

.timestamp-dropdown:hover .timestamp-dropdown-content { display: block; }

.timestamp-dropdown-button {
    min-width: 90px; 
    border: none;
    background-color: #4CAF50;
    padding: 10px;
    color: white;
    font-size: 16px;
}

.timestamp-dropdown-button:hover { background-color: #3e8e41; }

.timestamp-dropdown-content {
    display: none;
    background-color: #f1f1f1;
    width: 100%;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    /* z-index: 1; */
}

.timestamp-dropdown-content button {
    color: black;
    min-width: 90px; 
    padding: 10px;
    display: block;
}

.timestamp-dropdown-content button:hover { background-color: #ddd; }


.url-links {
    display: flex; 
    justify-content: center;
    align-items: center; 
    height: 100px;
    width: 100%;  
    font-size: 70px; 
    color: #353e48; 
}

.url-links:hover {
    color: #048585; 
    transform: scale(1.1); 
    transition: 0.5s;
    /* transform: rotate(20deg) */
}

.url-links i {
    margin-bottom: 30px; 
    cursor: pointer; 
}
