html, body {
    color: #bbb; 
    font-family: 'Kanit', sans-serif;
    background-color: #353e48; 
    height: 100%;
    width: 100%; 
    margin: 0;
    padding: 0;
}

.main-strip {
    display: flex; 
    flex-direction: column; 
    height: 100%; 
    width: 100%; 
}

.top {
    background-color: #353e48; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    min-height: 80px;
    width: 100%; 
}

.top h1 {
    color: #ccc; 
    font-size: 48px; 
    font-weight: bold; 
}

.top h1:hover {
    color: #048585; 
}

.main {
    display: flex; 
    flex-direction: row; 
    height: 100%;
    width: 100%; 
    border-top: 1px solid black; 
}
 
/* Left Panel */
.left {
    background-color: #bbb; 
    min-width: 100px;
    max-width: 120px;
    display: flex; 
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    padding-top: 15px; 
}

.url-links {
    display: flex; 
    justify-content: center;
    align-items: center; 
    height: 100px;
    width: 100%;  
    font-size: 70px; 
    color: #353e48; 
}

.url-links:hover {
    color: #048585; 
    transform: scale(1.1); 
    transition: 0.5s;
}

.url-links i {
    margin-bottom: 30px; 
    cursor: pointer; 
}

.info-modal-btn {
    display: flex; 
    justify-content: center;
    align-items: center; 
    height: 100px;
    width: 100%;  
    font-size: 70px; 
    color: #353e48; 
}

.info-modal-btn:hover {
    color: #048585; 
    transform: scale(1.1); 
    transition: 0.5s;
}

.info-modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    width: 100%;
    height: 100%; 
    overflow: auto; 
    padding-top: 100px; 
    padding-left: 20px; 
}

.info-content {
    font-family: Kanit, sans-serif; 
    background-color: white; 
    padding: 30px;
    margin: auto; 
    height: auto; 
    width: 60%; 
    display: flex;
    flex-direction: row; 
}

.info-close-btn {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.info-close-btn:hover {
    cursor: pointer;
}

/* Map */
#map {
    height: auto;
    width: 100%; 
}

.selectors {
    position: absolute;
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row; 
    align-items: center; 
    top: 90px; 
    left: 120px; 
    text-align-last: center; 
}

.selectors button {
    height: 50px; 
    width: 50px; 
    margin-right: 20px; 
}

.selectors select {
    font-family: sans-serif; 
    font-size: 14px;
    font-weight: 500; 
    min-width: 120px; 
    height: 25px; 
}

.train-selector {
    margin-right: 20px;
}

.date-selector {
    margin-right: 20px;
}

.date-option {
    background-color: white;
    min-width: 120px;
    height: 25px; 
    text-align: center; 
}


/* .date-dropdown:hover .date-dropdown-content { display: block; }

.date-dropdown-button {
    min-width: 90px; 
    border: none;
    background-color: #4CAF50;
    padding: 10px;
    color: white;
    font-size: 16px;
}

.date-dropdown-button:hover { background-color: #3e8e41; }

.date-dropdown-content {
    display: none;
    background-color: #f1f1f1;
    width: 100%;
}

.date-dropdown-content button {
    color: black;
    min-width: 90px; 
    padding: 10px;
    display: block;
}

.date-dropdown-content button:hover { background-color: #ddd; }

.timestamp-dropdown {
    margin-right: 20px; 
}

.timestamp-dropdown:hover .timestamp-dropdown-content { display: block; }

.timestamp-dropdown-button {
    min-width: 90px; 
    border: none;
    background-color: #4CAF50;
    padding: 10px;
    color: white;
    font-size: 16px;
}

.timestamp-dropdown-button:hover { background-color: #3e8e41; }

.timestamp-dropdown-content {
    display: none;
    background-color: #f1f1f1;
    width: 100%;
}

.timestamp-dropdown-content button {
    color: black;
    min-width: 90px; 
    padding: 10px;
    display: block;
}

.timestamp-dropdown-content button:hover { background-color: #ddd; } */

