html, body {
    color: #bbb; 
    font-family: 'Kanit', sans-serif;
    background-color: #353e48; 
    height: 100%;
    width: 100%; 
    margin: 0;
    padding: 0;
}

.main-strip {
    display: flex; 
    flex-direction: column; 
    height: 100%; 
    width: 100%; 
}

.top {
    background-color: #353e48; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    height: 80px;
    width: 100%; 
}

.top h1 {
    color: #ccc; 
    font-size: 48px; 
    font-weight: bold; 
}

.main {
    display: flex; 
    flex-direction: row; 
    height: 100%;
    width: 100%; 
    border-top: 1px solid rgba(255,255,255,0.12); 
}
 
.left {
    background-color: #bbb; 
    /* margin-right: 30px;  */
    width: 15%; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

#map {
    height: auto;
    width: 85%; 
}

/* .right {
    height: auto; 
    width: 15%; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    flex-direction: column; 
} */

.url-links {
    display: flex; 
    justify-content: center;
    align-items: center; 
    height: 100px;
    width: 100%;  
    font-size: 70px; 
    color: #353e48; 
}

.url-links:hover {
    color: #048585; 
    transform: scale(1.1); 
    transition: 0.5s;
    /* transform: rotate(20deg) */
}

.url-links i {
    margin-bottom: 30px; 
    cursor: pointer; 
}
